@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

a,
a:active {
  text-decoration: none;
  color: #fff;
}

button,
button:active,
button:hover {
  font-family: 'Plus Jakarta Sans';
  text-decoration: none;
  border: none;
}

input,
input:active,
input:hover,
input:focus {
  font-family: 'Plus Jakarta Sans';
  text-decoration: none;
  outline: none;
  border: none;
}
