.container {
  width: 80%;
  margin: 0 auto;
}

.d-flex{
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}

.p-relative {
  position: relative;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.opacity-zero {
  opacity: 0;
}

.cursor-p {
  cursor: pointer;
}

.h-subtitle {
  color: $action;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.26em;
  text-transform: uppercase;
}

.h-title {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
}

@media (max-width:768px) {
  .h-title {
    font-size: 24px;
    line-height: 30px;
  }

  .h-subtitle {
    font-size: 10px;
  }

}
