.container {
  width: 80%;
  margin: 0 auto;
}

.d-flex{
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-center: center;
}

.flex-column {
  flex-direction: column;
}

.p-relative {
  position: relative;
}
